<form [formGroup]="bookForm">
  <div class="form-group">
    <label>ISBN</label>
    <input type="text" class="form-control" formControlName="isbn">

    <div class="feedback-error" *ngIf="isInvalid('isbn')">Die ISBN ist ungültig.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'required')">Die ISBN ist erforderlich.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'minlength')">Die ISBN ist zu kurz.</div>

    <!--<br-form-errors controlName="isbn" [messages]="{ required: 'ERFORDERLICH!', minlength: 'ZU KURZ' }"></br-form-errors>-->

    <pre>{{ bookForm.get('isbn')?.errors | json }}</pre>
  </div>

  <div class="form-group">
    <label>Titel</label>
    <input type="text" class="form-control" formControlName="title">
  </div>

  <div class="form-group">
    <label>Beschreibung</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label>Preis</label>
    <input type="number" step="0.1" class="form-control" formControlName="price">
  </div>

  <div class="form-group">
    <label>Bewertung</label>
    <input type="number" min="1" max="5" class="form-control" formControlName="rating">
  </div>
</form>

<pre>{{ bookForm.value | json }}</pre>
