<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end w-25" [src]="book.firstThumbnailUrl">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge bg-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>
    <p>{{ book.price | currency:'EUR' }}</p>

    <button class="btn btn-green" (click)="doRateUp()"> + </button>
    <button class="btn btn-red" (click)="doRateDown()"> – </button>

    <a [routerLink]="['/books', book.isbn]">Details</a>

    <!--
      <a [routerLink]="book.isbn">Details (relativer Pfad)</a>
      <a [routerLink]="'/books/' + book.isbn">Details</a>
      <a routerLink="/books/{{ book.isbn }}">Details</a>
    -->
  </div>
</div>
<!--{{ log() }}-->
